<% provide :title, t(".title") %>
<h1><%= t("app_name") %></h1>
<h1><%= t(".title") %></h1>
<p>
  <%= t(".info",
        link: link_to("Ruby on Rails Tutorial", "http://www.railstutorial.org/")
      ).html_safe
  %>
</p>
